@model List<SewaPatra.Models.PaymentVoucher>

@{
    ViewData["Title"] = "Payment Voucher List";
}
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="pagetitle mt-2">
                        <h1>Payment Voucher List</h1>
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">Entry</li>
                                <li class="breadcrumb-item active">Payment Voucher List</li>
                            </ol>
                        </nav>
                    </div>
                    <div style="display:flex;justify-content:flex-end;">
                        <a asp-controller="Entry" asp-action="PaymentVoucher" style="margin-right: 13.6%;font-size: 12px; padding: 2px 8px;" class="btn btn-warning btn-sm">Add New</a>
                    </div>
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>Voucher Id</th>
                                <th>Date</th>
                                <th>Party Name</th>
                                <th>Coordinator</th>
                                <th>Amount</th>
                                <th>Remarks</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {
                                int sno = 1;
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@sno</td>
                                        <td>@item.Date</td>
                                        <td>@item.Ledger_Name</td>
                                        <td>@item.Coordinator</td>
                                        <td>@item.Amount</td>      
                                        <td>@item.Remarks</td>
                                        <td>
                                            <a asp-controller="Entry" asp-action="EditPaymentVoucher" asp-route-id="@item.P_TranId" style="background-color: #F1592A;color: #000000; font-size: 9px; padding: 2px 8px;" class="btn btn-sm">Edit</a>
                                            <a asp-controller="Entry" asp-action="DeletePaymentVoucher" asp-route-id="@item.P_TranId" style="background-color: #F1592A;color: #000000; font-size: 9px; padding: 2px 8px;" class="btn btn-sm">Delete</a>
                                        </td>
                                    </tr>
                                    sno++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>